@require './code.styl';

html, body {
    padding: 0;
    margin: 0;
    scrollbar-face-color: $primaryColor;
    scrollbar-shadow-color: #eeeeee;
    scrollbar-3dlight-color: #eeeeee;
    scrollbar-arrow-color: #000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $textColor;
    background-color: $bgColor;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal { /* 水平滚动条的样式 */
    width: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0; /* 滚动条的圆角宽度 */
}

::-webkit-scrollbar {
    width: 5px; /* 滚动条的宽度 */
    height: 5px; /* 滚动条的高度 */
}

::-webkit-scrollbar-thumb:vertical { /* 垂直滚动条的样式 */
    height: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
    outline: 2px solid #fff;
    outline-offset: -2px;
}

::-webkit-scrollbar-thumb:hover { /* 滚动条的hover样式 */
    height: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
}

.container {
    width: 100%;
}

.container-content {
    padding-top: 1rem;
    margin-bottom: 3rem;
}

a {
    font-weight: 500;
    color: $textColor;
    text-decoration: none;

    &:hover {
        color: darken($textColor, 20%);
    }
}

.masonry-card {
    width: 100%;

    .masonry-card-box {
        padding: 0 0.3rem;

        .masonry-card-content {
            background-color: $codeBgColor;
            border-radius: 6px;

            .title {
                padding: 0.8rem 1rem;
                color: #fff;
                border-bottom: 1px solid #708090;
            }
        }
    }
}

@media (min-width: $smMedia) {
    .container {
        max-width: $smMedia;
    }

    .card {
        width: 100%;
    }
}

@media (min-width: $mdMedia) {
    .container {
        max-width: $mdMedia;
    }

    .card {
        width: 384px;
    }
}

@media (min-width: $lgMedia) {
    .container {
        max-width: $lgMedia;
    }

    .card {
        width: 341px;
    }
}

@media (min-width: $xlMedia) {
    .container {
        max-width: $xlMedia;
    }

    .card {
        width: 426px;
    }
}

.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.flash-container:hover {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        height: 150%;
        width: 25px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.6;
        filter: blur(6px);
        animation: move 1s infinite ease-out;
    }
}

@keyframes move {
    0% {
        transform: translate(-200px, -200px) rotate(45deg);
    }

    100% {
        transform: translate(200px, 200px) rotate(45deg);
    }
}

.timeline-title {
    margin: 0.8rem 0 0.3rem 1.7rem !important;
    font-weight: blod;
    padding-top: 0.25rem;
    font-size: 18px;
}

.timeline-item {
    margin: 0.5rem 0 0.5rem 1.77rem !important;
    padding-bottom: 0 !important;
}

.card {
    border: 1px solid $primaryColor;
    border-radius: 4px;
    width: 99%;
}

.card-title {
    border-bottom: 1px solid $primaryColor;
    padding: 1rem;
}

.card_content {
    padding: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}