@require './code.styl';

html, body {
    padding: 0;
    margin: 0;
    scrollbar-face-color: $primaryColor;
    scrollbar-shadow-color: #eeeeee;
    scrollbar-3dlight-color: #eeeeee;
    scrollbar-arrow-color: #000;
}

* {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    background: #fff;
}

a, a:hover {
    color: #333;
}

input {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none; /* 解决ios上按钮的圆角问题 */
    border-radius: 0; /* 解决ios上输入框圆角问题 */
    outline: medium; /* 去掉鼠标点击的默认黄色边框 */
    background-color: transparent;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    &[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $textColor;
    background-color: $bgColor;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal { /* 水平滚动条的样式 */
    width: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0; /* 滚动条的圆角宽度 */
}

::-webkit-scrollbar {
    width: 5px; /* 滚动条的宽度 */
    height: 5px; /* 滚动条的高度 */
}

::-webkit-scrollbar-thumb:vertical { /* 垂直滚动条的样式 */
    height: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
    outline: 2px solid #fff;
    outline-offset: -2px;
}

::-webkit-scrollbar-thumb:hover { /* 滚动条的hover样式 */
    height: 5px;
    background-color: $primaryColor;
    -webkit-border-radius: 3px;
}

.container {
    width: 100%;
}

.container-content {
    padding-top: 1rem;
    margin-bottom: 3rem;
}

a {
    color: $textColor;
    text-decoration: none;

    &:hover {
        color: darken($textColor, 20%);
    }
}

.masonry-card {
    width: 100%;

    .masonry-card-box {
        padding: 0.3rem;

        .masonry-card-content {
            background-color: $codeBgColor;
            border-radius: 6px;

            .title {
                padding: 0.8rem 1rem;
                color: #fff;
                border-bottom: 1px solid #708090;
            }

            li {
                color: #f8f8f2;
                padding: 0.3rem 1rem;
                text-shadow: 0 1px rgba(0, 0, 0, 0.3);
                font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
                font-size: 1em;
                line-height: 1.5;

                a {
                    color: $primaryColor;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: $smMedia) {
    .container {
        max-width: $smMedia;
    }

    .masonry-card {
        width: 100%;
    }
}

@media (min-width: $mdMedia) {
    .container {
        max-width: $mdMedia;
    }

    .masonry-card {
        width: 384px;
    }
}

@media (min-width: $lgMedia) {
    .container {
        max-width: $lgMedia;
    }

    .masonry-card {
        width: 341px;
    }
}

@media (min-width: $xlMedia) {
    .container {
        max-width: $xlMedia;
    }

    .masonry-card {
        width: 426px;
    }
}

.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.flash-container:hover {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        height: 150%;
        width: 25px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.6;
        filter: blur(6px);
        animation: move 1s infinite ease-out;
    }
}

@keyframes move {
    0% {
        transform: translate(-200px, -200px) rotate(45deg);
    }

    100% {
        transform: translate(200px, 200px) rotate(45deg);
    }
}

.card {
    border-radius: 4px;
    width: 100%;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.card&:hover {
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card-title {
    border-bottom: 1px solid #ebeef5;
    padding: 0.75rem 1rem;
    position: relative;
    margin-bottom: 1rem;
    color: #8492a6;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-weight: 500;
}

.card_content {
    padding: 0 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.list-link {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.link {
    cursor: pointer;
    color: #000;
    transition: all 0.2s;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        color: $primaryColor;
    }
}

.tag-item {
    position: relative;
    border: none;
    border-radius: 8px;
    color: #738192;
    background-color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    padding: 0.3rem 0.8rem;
    margin-right: 0.5rem;
    font-size: 13px;
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 13px 15px rgba(0, 0, 0, 0.1);
    }
}

.media-show {
    display: none;
}

@media (min-width: $lgMedia) {
    .media-show {
        display: block;
    }
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.leading-8 {
    line-height: 2rem;
}

.text-sm {
    font-size: 0.875rem;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}