
$primaryColor = #3eaf7c
$textColor = #3eaf7c
$bgColor = #fff
$headerTextColor = #2c3e50
$headerBg = #ffffff
$footerBg = #2c3e50
$nprogressColor = red
$codeBgColor = #2c3e50

$smMedia = 640px
$mdMedia = 768px
$lgMedia = 1024px
$xlMedia = 1280px